<ion-header class="mobile-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="myMenu"></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
    <ion-buttons slot="end">
      <!-- DARK_MODE implementation 
       ---------------------------- -->
      <ion-button (click)="toggleDarkmode(!darkMode)">
        <ion-icon name="moon" *ngIf="!darkMode" slot="icon-only"></ion-icon>
        <ion-icon name="sunny" *ngIf="darkMode" slot="icon-only"></ion-icon>
      </ion-button> 
      <ion-button #cartbtnmobile (click)="openCart()">
        <ion-icon slot="icon-only" name="cart"></ion-icon>
        <ion-badge>{{ cartCount }}</ion-badge>
      </ion-button>
    </ion-buttons>      
  </ion-toolbar>
</ion-header>  

<ion-row class="header ion-align-items-center">
  <!-- Logo -->
  <ion-col size="2" class="ion-align-items-center">
    <img src="./assets/company/imgs/logo.svg" width="50px" />
  </ion-col>
  <!-- Navigation -->
  <ion-col size="7" class="ion-text-left">
    <ion-button
      fill="clear"
      color="dark"
      routerLink="/"
      routerDirection="root"
      routerLinkActive="active-item"
      [routerLinkActiveOptions]="{exact: true}"
    >
      Home
    </ion-button>
    <!-- Button with dropdown -->
    <ion-button
      #productbtn
      (mouseenter)="dropdown=true"
      (mouseleave)="hideDropdown($event)"
      fill="clear"
      color="dark"
      routerDirection="root"
      routerLinkActive="active-item"
    >
      Products
      <ion-icon
        slot="end"
        [name]="dropdown ? 'chevron-up' : 'chevron-down'"
      ></ion-icon>
    </ion-button>
    <div *ngIf="dropdown" class="dropdown" (mouseleave)="dropdown = false">
      <ion-item
        *ngFor="let cat of categories"
        (click)="dropdown = false"
        routerLink="/products"
        [queryParams]="{ category: cat.slug }"
        lines="none"
        routerDirection="root"
      >
        {{ cat.title }}
      </ion-item>
    </div>
    <ion-button
      fill="clear"
      color="dark"
      routerLink="/about"
      routerDirection="root"
      routerLinkActive="active-item"
    >
      About
    </ion-button>
  </ion-col>
  <!-- Cart icon -->
  <ion-col size="2" class="ion-text-right">
    <ion-buttons>
      <!-- DARK_MODE implementation 
       ---------------------------- -->
      <ion-button fill="clear" color="dark" (click)="toggleDarkmode(!darkMode)">
        <ion-icon name="moon" *ngIf="!darkMode" slot="icon-only"></ion-icon>
        <ion-icon name="sunny" *ngIf="darkMode" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button fill="clear" color="dark" #cartbtnweb (click)="openCart()">
        <ion-icon slot="icon-only" name="cart"></ion-icon>
        <ion-badge>{{ cartCount }}</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-col>    
</ion-row>
