// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

// DARK_MODE implementation
// ------------------------
body.dark {
    --ion-color-primary: #5fa55b;
    --ion-color-primary-rgb: 95, 165, 91;
    --ion-color-primary-contrast: #fff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #549150;
    --ion-color-primary-tint: #6fae6b;
    --ion-color-medium: #45af04;
    --ion-color-medium-rgb: 69, 175, 4;
    --ion-color-medium-contrast: #ffffff;
    --ion-color-medium-contrast-rgb: 255, 255, 255;
    --ion-color-medium-shade: #3d9a04;
    --ion-color-medium-tint: #58b71d;
    --ion-color-dark: #ffffff;
    --ion-color-dark-rgb: 255, 255, 255;
    --ion-color-dark-contrast: #000000;
    --ion-color-dark-contrast-rgb: 0, 0, 0;
    --ion-color-dark-shade: #e0e0e0;
    --ion-color-dark-tint: #ffffff;
    --ion-color-light: #222428;
    --ion-color-light-rgb: 34, 36, 40;
    --ion-color-light-contrast: #ffffff;
    --ion-color-light-contrast-rgb: 255, 255, 255;
    --ion-color-light-shade: #1e2023;
    --ion-color-light-tint: #383a3e;
    --ion-toolbar-background: var(--ion-color-light);
}
.ios body.dark {
    --ion-background-color: #000000;
    --ion-background-color-rgb: 0, 0, 0;
    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255, 255, 255;
    --ion-color-step-50: #0d0d0d;
    --ion-color-step-100: #1a1a1a;
    --ion-color-step-150: #262626;
    --ion-color-step-200: #333333;
    --ion-color-step-250: #404040;
    --ion-item-background: #000000;
    --ion-card-background: #1c1c1d;
}
.ios body.dark ion-modal {
}
.md body.dark {
    --ion-background-color: #121212;
    --ion-background-color-rgb: 18, 18, 18;
    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255, 255, 255;
    --ion-border-color: #222222;
    --ion-color-step-50: #1e1e1e;
    --ion-color-step-100: #2a2a2a;
    --ion-color-step-150: #363636;
    --ion-color-step-200: #414141;
    --ion-color-step-250: #4d4d4d;
    --ion-item-background: #1e1e1e;
    --ion-toolbar-background: #1f1f1f;
    --ion-tab-bar-background: #1f1f1f;
    --ion-card-background: #1e1e1e;
}

:root {
    --ion-background-color: #f4f8ba;
    --ion-card-background: #fff;
    --ion-toolbar-background: var(--ion-color-light);
    --ion-color-primary: #5fa55b;
    --ion-color-primary-rgb: 95, 165, 91;
    --ion-color-primary-contrast: #fff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #549150;
    --ion-color-primary-tint: #6fae6b;
    --ion-color-medium: #215600;
    --ion-color-medium-rgb: 33, 86, 0;
    --ion-color-medium-contrast: #ffffff;
    --ion-color-medium-contrast-rgb: 255, 255, 255;
    --ion-color-medium-shade: #1d4c00;
    --ion-color-medium-tint: #37671a;
    --ion-color-dark: #555856;
    --ion-color-dark-rgb: 85, 88, 86;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255, 255, 255;
    --ion-color-dark-shade: #4b4d4c;
    --ion-color-dark-tint: #666967;
    --ion-color-light: #feffc6;
    --ion-color-light-rgb: 254, 255, 198;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0, 0, 0;
    --ion-color-light-shade: #e0e0ae;
    --ion-color-light-tint: #feffcc;

    --default-padding: 8px;
    --default-border: 2px;
}